table {
    margin-left: 16px;
}
table thead {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

table tbody tr td {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

td:nth-child(1) {
    width: 40px;
    text-align: center;
}
td:nth-child(2) {
    width: 200px;
    text-align: center;
}
td:nth-child(3) {
    width: 200px;
    text-align: center;
}